@font-face {
    font-family: 'AMG Anahit';
    src: local('AMG Anahit Semi Serif'), url('amganahitsemiserif.woff2') format('woff2'), url('amganahitsemiserif.woff') format('woff'), url('amganahitsemiserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
