body {
    font-family: 'Noto Serif';
    font-size: 16px;
    line-height: 28px;
    background-color: #696969;
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'AMG Anahit';
}
h1 {
    text-align: center;
}

a {
    color: #20B2AA;
}
a:hover {
    color: #FF4500;
}
a:focus {
    color: #FF4500;
}
a:active {
    color: #DC143C;
}
ul.navigation {
    list-style-type: none;
    font-family: 'AMG Anahit';
    font-size: 20px;
    line-height: 28px;
}
.navigation li {
    
}
dt {
    font-family: 'AMG Anahit';
    color: #000000;
}
dd {
    color: #000000;
}
img {
    border-radius: 10px; 
    box-shadow: 0px 1px 5px #000000;
}
iframe {
    width: 800px;
    height: 900px;
    border: 0;
}
.photo_blog img {
    width: 800px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}
table {
    font-family: 'AMG Anahit';
}
.menu {
    text-align: center;
    margin-bottom: 10px;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}
.menu ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 18px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 15px;
    background-color: #20B2AA;
    font-weight: bold;
    border-radius: 10px; 
    box-shadow: 0px 1px 5px #000000
}
.menu ul li a:hover {
    background-color: #FF4500;
}
ul.sub_menu {
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
}

ul.sub_menu li {
    display: list-item;
    text-align: left;
}
.menu>ul>li:hover .sub_menu {
    display: block;
}

